* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  width: 100%;
  background: #010103;
  display: flex;
}
.header-logo {
  margin-top: 124px;
  margin-left: 12%;
}
nav {
  margin-top: 138px;
  margin-left: 41%;
}
.topnav a {
  color: #fff;
  text-align: center;
  padding-right: 16px;
  font-size: 14px;
  font-weight: bold;
}
.topnav a:hover {
  color: aqua;
}
.topnav .icon {
  display: none;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bgtop {
  background-image: url(../images/bgtop.png);
  background-repeat: no-repeat;
  background-position: center;
}
.text {
  overflow: hidden;
}
.text img {
  width: 100%;
  padding-top: 286px;
  padding-left: 200px;
  padding-right: 234px;
}

.mouse {
  padding-top: 360px;
  padding-bottom: 20px;
  padding-left: 907px;
  padding-right: 907px;
}
@media screen and (max-width: 720px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  nav {
    width: 100%;
  }
}
